<configuration>
  <packageSources>
    <add key="HangfirePro" value="https://nuget.hangfire.io/nuget/hangfire-pro/" />
  </packageSources>
  <packageSourceCredentials>
    <HangfirePro>
      <add key="Username" value="ErasoftTeknologiIndonesia" />
      <add key="ClearTextPassword" value="RaHCmqZr2hTZNXNm" />
    </HangfirePro>
  </packageSourceCredentials>
</configuration>