@{
    ViewBag.Title = "Approval";
}

<style>
    html {
        -webkit-text-stroke-width: 0.5pt;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
    }

    body {
        background-color: #eeeeee;
    }

    html, body {
        height: 100%;
    }

    .main {
        height: 100%;
        width: 100%;
        display: table;
    }
    .wrapper {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }

    .full-width {
        width: 100% !important;
    }

    .navbar {
        display: none;
    }

    hr {
        border-top: 1px solid #dcd3d3;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Partner Approval</title>
</head>
<body>
    <div class="main">
        <div class="wrapper jumbotron text-center">
            @if ((bool)ViewData["SudahDaftar"])
            {
                <h1 class="display-3">Anda sudah pernah melakukan approve pada link ini</h1>
                <p class="lead">Anda telah menjadi <strong>@ViewData["TipePartner"]</strong> dari Master Online</p>
            }
            else
            {
                <h1 class="display-3">SELAMAT!</h1>
                <p class="lead">Anda telah menjadi <strong>@ViewData["TipePartner"]</strong> dari Master Online</p>
            }

            <p>Anda sudah bisa mempromosikan MO dengan alamat URL <a href="@Url.Action("Index", "Home", new {Ref = ViewData["KodeReferalPilihan"]})">@Request.Url.GetLeftPart(UriPartial.Authority)@Url.Action("Index", "Home", new { Ref = ViewData["KodeReferalPilihan"] })</a> dan mulai mendapatkan penghasilan, Terima kasih.</p>
            <hr>
            <p>
                Punya pertanyaan? <a href="mailto:csmasteronline@gmail.com?Subject=Pertanyaan%20Tentang%20Partner">Kontak Kami</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="https://masteronline.co.id/" role="button">Ke Halaman Utama</a>
            </p>
        </div>
    </div>
</body>
</html>
