
@{
    Layout = null;
}
@section styles
{
    <style>
        html {
            -webkit-text-stroke-width: 0.5pt;
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }
    </style>
}
<!DOCTYPE HTML>
<html>
<!--BELUM DI LINK KE REGISTER-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130203101-1"></script>
    <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-130203101-1');
                gtag('config', 'AW-778375246');
    </script>
    <!-- Event snippet for Sign-up conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
                function gtag_report_conversion(url) { var callback = function () { if (typeof (url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-778375246/mXAzCP3X5pQBEM6glPMC', 'value': 30.0, 'currency': 'USD', 'event_callback': callback }); return false; }
    </script>
    <!-- Facebook Pixel Code -->
    <script>
                !function(f,b,e,v,n,t,s)
                {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window,document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
                 fbq('init', '2320855488162974');
                fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=2320855488162974&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <style>
        img {
            position: relative;
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
        }
    </style>
    <style>
        body {
            background-color: #f3f3f4;
            padding-top: 0;
        }

        hr {
            margin-top: 10px;
        }

        .font-bold {
            font-weight: 600;
        }

        h2 {
            font-size: 24px;
        }

        p {
            margin: 0;
        }

        .loginColumns, .passwordBox {
            margin: 0 auto;
            padding: 25px 20px 20px;
        }

        .loginColumns {
            max-width: 800px;
        }

        img[alt="logo"] {
            margin-bottom: 30px;
        }

        .ibox-content {
            clear: both;
            padding: 15px 20px 20px;
            border-color: #e7eaec;
            border-image: none;
            border-style: solid solid none;
            border-width: 1px 0;
        }

        .ibox-content, .ibox-title {
            background-color: #fff;
            color: inherit;
        }

        .space-15 {
            margin: 15px 0;
        }

        .block {
            display: block !important;
        }

        .m-b {
            margin-bottom: 15px;
        }

        .full-width {
            width: 100% !important;
        }

        .navbar {
            display: none;
        }
    </style>
</head>
<body>
    <div class="loginColumns" id="loginColumns">
        <div class="row m-t">
            <div class="ibox-content">
                <img src="~/Content/Images/MasterOnline_WEBThanku-02.jpg" id="tq_page">
                <script>
                    $(document).ready(function () {
                        $("#tq_page").click(function () {
                            window.location.replace("https://masteronline.co.id");
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>