@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bukalapak Authentication Finish</title>
</head>
<body>
    <div>
        <br />
        <center><h3>Anda Berhasil link ke Bukalapak.</h3></center>
        <br />
        <br />
        <center><h3>Silahkan tutup halaman ini, anda dapat lanjutkan di halaman utama.</h3></center>

    </div>
</body>
</html>
