@using System.Globalization
@using MasterOnline.ViewModels
@model MasterOnline.ViewModels.FakturViewModel
@{
    ViewBag.Title = "Label Tokopedia";
    Layout = null;

    //var dataSession = Session["SessionInfo"] as AccountUserViewModel;
    var username = "";
    var context = new MoDbContext("");
    //if (dataSession?.User != null)
    //{
    //    var accId = context.User.SingleOrDefault(u => u.Email == dataSession.User.Email)?.AccountId;
    //    username = context.Account.SingleOrDefault(a => a.AccountId == accId)?.Username;
    //    context.Dispose();
    //}
    //else
    //{
    //    username = dataSession?.Account.Username;
    //}

    var sessionAccount = HttpContext.Current.Session["SessionAccount"];
    var sessionAccountUserID = HttpContext.Current.Session["SessionAccountUserID"];
    var sessionAccountUserName = HttpContext.Current.Session["SessionAccountUserName"];
    var sessionAccountEmail = HttpContext.Current.Session["SessionAccountEmail"];
    var sessionAccountTglSub = HttpContext.Current.Session["SessionAccountTglSub"];
    var sessionAccountKodeSub = HttpContext.Current.Session["SessionAccountKodeSub"];
    var sessionAccountDataSourcePathDebug = HttpContext.Current.Session["SessionAccountDataSourcePathDebug"];
    var sessionAccountDataSourcePath = HttpContext.Current.Session["SessionAccountDataSourcePath"];
    var sessionAccountDatabasePathErasoft = HttpContext.Current.Session["SessionAccountDatabasePathErasoft"];

    var sessionUser = System.Web.HttpContext.Current.Session["SessionUser"];
    var sessionUserUserID = System.Web.HttpContext.Current.Session["SessionUserUserID"];
    var sessionUserUsername = System.Web.HttpContext.Current.Session["SessionUserUsername"];
    var sessionUserEmail = System.Web.HttpContext.Current.Session["SessionUserEmail"];
    var sessionUserAccountID = System.Web.HttpContext.Current.Session["SessionUserAccountID"];

    if (sessionUser != null)
    {
        var accId = context.User.Single(u => u.Email == sessionUserEmail.ToString()).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = sessionAccountUserName.ToString();
    }

    if (username.Length > 20)
    {
        username = username.Substring(0, 17) + "...";
    }

    var label = Model.listLabelTokped.ToList();
}

<!doctype html>




<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://cdn.tokopedia.net/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cetak Label Tokopedia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="https://cdn.tokopedia.net/built/d51c7298685e51fb574883be53fc723a.css" rel="stylesheet" />

    <style type="text/css">
        @@media print {
            @@page {
                /*size: A4 portrait;*/
                margin: 0;
                /*width: 210mm;
                height: 297mm;*/
            }

            body * {
                page: initial;
                position: initial;
                margin: 0;
                padding: 0;
            }

            /*.break {
                page-break-after: always !important;
            }*/
        }
    </style>
</head>

<body>
    @if (Model.listLabelTokped.Count() > 0)
    {
        var listLabel = Model.listLabelTokped.ToList();
        foreach (var labelList in listLabel)
        {
            <div class="address_container col-md-12" id="address_container_temp" style="margin-left:50px;overflow:hidden;page-break-after:always;margin-top:50px;">


                <div class="address" counter-label="1">

                    <table class="container" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row header-label" id="header" style="font-size: 15px;"></div>
                                    @*<table class="header" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>

                                                    <td width="25%" class="tokopedia-logo">
                                                        <img src='https://cdn.tokopedia.net/img/logo-tokopedia-32.png'
                                                             alt="Tokopedia">
                                                    </td>


                                                    <td class="header-text" width="75%">
                                                        <div class="sub-header-text">

                                                            <div class="main-header-text-container">
                                                                <b>Non Tunai</b><br />
                                                                <b></b>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>*@
                                    @if (labelList.Resi != "" && labelList.Resi != null)
                                    {
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10 center-block">
                                                <div class="resiyes">
                                                    <p class="sub_title">
                                                        @*<span class="block_subtitle_label pull-left">No Resi</span>*@
                                                        <img src="@Url.Action("LihatFakturBarcode", "Manage", new { resi = labelList.Resi, market = "TOKOPEDIA" })" alt="" class="center" style="margin-left:5px; padding-top:1em;" />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="row invoice-label" id="invoice" style="font-size: 12px;"></div>
                                    @*<table class="meta" cellspacing="0" cellpadding="0">

                                            <tbody>
                                                <tr>
                                                    <td class="invoice" colspan="4" style="padding-bottom:10px;" width="100%">
                                                        INV/20200529/XX/V/552348844
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td width="25%">
                                                        <img class="kurir-icon" src="https://cdn.tokopedia.net/img/kurir/logo_gosend.png" alt="Kurir">
                                                    </td>
                                                    <td width="25%">
                                                        Gojek<br /><b>Same Day</b>
                                                    </td>

                                                    <td width="25%">Berat:<br /><b>0.15 Kg</b></td>
                                                    <td width="25%"></td>
                                                </tr>
                                            </tbody>

                                        </table>*@

                                    <div class="row insurance-label" id="insurance" style="font-size: 12px;"></div>
                                    @*<table class="insurance" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="insurance_wrapper">

                                                            <img src="https://cdn.tokopedia.net/img/kurir/icon-money-alt.png">
                                                            Penjual <b>tidak perlu</b> bayar apapun ke kurir, sudah dibayarkan otomatis

                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>*@

                                    <div class="row address-label" id="address" style="font-size: 13px;"></div>
                                    @*<table class="shipment-address" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width="50%" style="padding-right: 4px;">
                                                        Kepada:<br />
                                                        <b>
                                                            Dani


                                                        </b>
                                                        <br />



                                                        Jl. Alaydrus No.37, RT.8/RW.2, Petojo Utara, Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10130<br />

                                                        Gambir, Kota Administrasi Jakarta Pusat. DKI Jakarta
                                                        10130<br />

                                                        628******481


                                                    </td>
                                                    <td style="vertical-align: top;">
                                                        Dari:<br />
                                                        <b>Camellilac</b><br />
                                                        Tanjung Priok, Kota Administrasi Jakarta Utara<br />
                                                        628*******214
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>*@


                                    <div class="row product-label" id="product" style="font-size: 12px;"></div>
                                    @*<table class="products" cellspacing="0" cellpadding="0">
                                            <tbody>

                                                <tr class="product_head">

                                                    <td class="name" colspan="2">Produk</td>




                                                    <td class="sku" width="16.6667%">SKU</td>


                                                    <td class="quantity" width="16.6667%">Jumlah</td>

                                                </tr>





                                                <tr class="product_content">

                                                    <td>1</td>

                                                    <td class="name">
                                                        <div>Indomie Goreng Jumbo 1</div>

                                                    </td>




                                                    <td class="sku">INDJMB</td>



                                                    <td class="quantity"><span>1</span> pcs</td>

                                                </tr>

                                            </tbody>
                                        </table>*@

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }

    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        @{
            var label1 = Model?.listLabelTokped.ToList();
        }
        var label = @Html.Raw(Json.Encode(label1));

        $(document).ready(function () {
            $('.header-label').each(function (i, item) {
                $(item).html(label[i].Header);
            });
            $('.invoice-label').each(function (i, item) {
                $(item).html(label[i].Invoice);
            });
            $('.insurance-label').each(function (i, item) {
                $(item).html(label[i].Insurance);
            });
            $('.address-label').each(function (i, item) {
                $(item).html(label[i].Address);
            });
            $('.product-label').each(function (i, item) {
                $(item).html(label[i].Product);
            });
        });
    </script>
</body>

</html>
