@using MasterOnline.ViewModels
@model MasterOnline.Models.UpdateData
@{
    ViewBag.Title = "GantiPassword";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";

    var context = new MoDbContext("");
    var dataSession = Session["SessionInfo"] as AccountUserViewModel;

    var username = "";
    long accId;
    if (dataSession?.User != null)
    {
        accId = context.User.Single(u => u.Email == dataSession.User.Email).AccountId;
        username = context.Account.Single(a => a.AccountId == accId).Username;
        context.Dispose();
    }
    else
    {
        username = dataSession?.Account?.Username;
        accId = (dataSession?.Account?.AccountId ?? 0);
    }
    if (username.Length > 20)
    {
        username = username.Substring(0, 17) + "...";
    }
}

@section styles
{
    <style>
        #ubah-password-section .form-group div.col-md-6 {
            margin-bottom: 15px;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="x_panel" id="info-penjualan-section">
            <div class="x_title">
                <h2 style="font-size: 16px">Ganti Password</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="alert-section" style="display: none;">
                <div class="alert alert-success">
                    Password berhasil diubah
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger">
                    <span class="message-error">Password lama yang Anda masukkan salah!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            @using (Html.BeginForm("UbahPassword", "Manage", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-password" }))
            {
                @Html.HiddenFor(m => m.Username, new { Value = username })
                <div class="x_content" id="ubah-password-section">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-6 control-label control-label-bold">Password Lama</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.OldPass, new { @class = "form-control", type = "password" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="line-bottom"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-6 control-label control-label-bold">Password Baru</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.NewPass, new { @class = "form-control", type = "password" })
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-6 control-label control-label-bold">Konfirmasi Password</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="password_confirmation" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="well warning" role="alert">
                                <p><strong>Peringatan:</strong></p>
                                <p>Gunakan password yang sulit di tebak. Jangan gunakan nama, tanggal lahir, atau kata yang mudah di tebak. <br>Penggantian password secara rutin sangat di sarankan.</p>
                            </div>
                            <button id="btn-ubah-password" type="button" class="btn btn-primary pull-right" onclick="ubahPass();">Simpan</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function ubahPass() {
            if ($('input[name="password_confirmation"]').val() == '' ||
                $('#NewPass').val() == '' ||
                $('#OldPass').val() == '') {
                alert('Isi semua field secara lengkap dahulu!');
                return;
            }

            if ($('input[name="password_confirmation"]').val() != $('#NewPass').val()) {
                alert('Password konfirmasi tidak sama dengan password baru!');
                return;
            }

            $('#btn-ubah-password').attr('disabled', 'disabled');
            var sukses = 0;
            $.ajax({
                type: "POST",
                url: '@Url.Action("UbahPassword", "Manage")',
                data: $('#form-password').serialize(),
                success: function (response) {
                    if (response.WrongOldPass == false) {
                        $('.alert-section').show();
                        $('.alert-success').slideDown(500).delay(2000).slideUp(500);
                        sukses = 1;
                    } else {
                        $('.alert-section').show();
                        $('.alert-danger').slideDown(500).delay(2000).slideUp(500);
                    }

                    $('#btn-ubah-password').removeAttr('disabled');
                    callLogout(sukses);
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#btn-ubah-password').removeAttr('disabled');
                }
            });
        }

        function callLogout( keluar )
        {
            if (keluar == 1) {
                location.href = "/Account/LoggingOut";
            }
        }
    </script>
}
