@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@section styles {
    <link href="~/Content/build/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <style>
        .label_waktu {
            margin-bottom: 15px;
        }

        .divider_2 {
            border-bottom: solid 2px #e6e9ed;
            margin: 10px 0;
        }

        .pemisah_info {
            margin: 7px 0;
        }

        .block_subtitle {
            display: inline-block;
            width: 300px;
            font-size: 15px;
        }

        #today_label {
            position: absolute;
            top: 7px;
        }
    </style>
}

<div class="row">
    <div class="col-md-2">
        <b class="hidden-md hidden-lg">Tanggal Hari Ini :</b>
        <b class="hidden-xs hidden-sm" id="today_label">Tanggal Hari Ini :</b>
    </div>
    <div class="col-md-2">
        <div class="input-group date">
            <input type="text" id="TGL" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div id="dashboard_partial"></div>

@section scripts
{
    <script src="~/Content/vendors/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/build/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            getTanggal();
            $('#TGL').datepicker('setDate', '0');
            getDashboard();
        });

        function getDashboard($selectedDate = '') {
            var $selectedMonth = $selectedDate.substring(3, 5);
            var monthVal = moment(new Date()).locale('id').format("MM");
            var monthName = moment($selectedMonth).locale('id').format("MMMM");

            var link = '@Url.Action("DashboardPartial", "Manage", new { selDate = "replaceDate" })';
            link = link.replace("replaceDate", $selectedDate);

            $.ajax({
                type: "GET",
                url: link,
                beforeSend: function () {
                    $('#loading_spinner').show();
                },
                success: function (response) {
                    $('#dashboard_partial').html(response);

                    if ($selectedDate !== '' && $selectedDate !== moment(new Date()).format("DD/MM/YYYY")) {
                        $('.date_label').text('Tanggal ' + $selectedDate);
                    }

                    if ($selectedMonth !== '' && $selectedMonth !== monthVal) {
                        $('.month_label').text('Bulan ' + monthName);
                    }

                    $('#loading_spinner').hide();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        function getTanggal() {
            $('#TGL').datepicker({
                format: 'dd/mm/yyyy',
                language: 'id'
            }).change(function () {
                getDashboard($(this).val());
                $(this).datepicker('hide');
            });
        }
    </script>
}
