
@using MasterOnline.ViewModels
@model BindingListCustomer

<div class="col-md-12 row">
    <div class="col-md-1">
        <input type="checkbox" id="check_all" style="align-self:flex-start; width:27px; height:24px;" />
    </div>
    <div style="padding-top: 7px;" class="col-md-6">Semua</div>
</div>
@*<div class="row">*@
    @foreach (var c in Model.customer)
    {
    <div class="col-md-12 row">
        <div class="col-md-1">
            <input type="checkbox" class="cbcust" data-cust="'@c.CUST'" id="check_@c.CUST" style="align-self: flex-start; width: 27px; height: 24px;" />
        </div>
        <div class="col-md-6" style="padding-top: 7px;">@(c.NAMAMARKET + " (" + c.PERSO + ')')</div>
        
    </div>
    }
@*</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#check_all").click(function () {
            $(".cbcust").prop('checked',
                $(this).prop('checked'));
        });
    });
</script>
