@{
    ViewBag.Title = "Prompt Brand 82Cart";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}
<style>
    
        .top_nav {
            display: none !important;
        }

        .close-btn {
            display: none;
        }
</style>
<div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="input-group">
                <input id="search_prompt" type="text" class="form-control" placeholder="Pencarian">
                <input id="txt_cust" type="hidden" class="form-control" value="@ViewData["cust"]">
                <input id="txt_category" type="hidden" class="form-control" value="@ViewData["category"]">
                <span class="input-group-btn">
                    <button type="button" id="search_prompt_btn" class="btn btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-12" id="divPartial">
            @*@Html.Partial("TablePromptBrandBlibli")*@
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        refreshTablePrompt();
    });

    $('#search_prompt').keypress(function (e) {
        var key = e.which;
        if (key == 13)// the enter key code
        {
            refreshTablePrompt();
            return false;
        }
    });
    $('#search_prompt_btn').click(function () {
        refreshTablePrompt();
    });

    function refreshTablePrompt() {
        var $link = '@Html.Raw(Url.Action("RefreshBrand82Cart", "Manage", new { category= "replaceCategory", cust = "replaceCust",page = "replaceLastPage", search = "replaceSearch" }))';
        
        $link = $link.replace("replaceCategory", $('#txt_category').val());
        $link = $link.replace("replaceCust", $('#txt_cust').val());
        $link = $link.replace("replaceSearch", $('#search_prompt').val());
        $link = $link.replace("replaceLastPage", $('#txt_last_page').val());

        $.ajax({
            type: "GET",
            url: $link,
            beforeSend: function () {
                //$('#divPartial').hide();
                $('#loading_prompt').show();
            },
            success: function (response) {
                $('#divPartial').html(response);
                $('#loading_prompt').hide();
                //$('#divPartial').show();
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function pilihPrompt(sender) {
        let value = $(sender).attr('data-value');
        let name = $(sender).attr('data-valuename');
        self.window.close();
        window.onunload = refreshTextBox;
        function refreshTextBox() {
            window.opener.afterPromptBrand82Cart(value.toString(), name.toString());
        }
    }
</script>