@{
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
    ViewBag.Title = "Online Support";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <ul>
            <li><h4>Anda bisa Chating dengan Customer service dari Senin sd Jumat, pk 9.00 sd 17.00</h4></li>
            <li><h4>Anda bisa membuka Tiket Support ke Customer service yg akan di jawab max 24 jam kerja.</h4></li>
            <li><h4>Anda bisa Phone Call ke 021 6349318, dari senin sd jumat, pk 9.00 sd 17.00</h4></li>
            <li><h4>Anda bisa melaporkan via email ke csmasteronline@gmail.com</h4></li>
        </ul>
    </div>
</div>
