@using System.Globalization
@using MasterOnline.ViewModels
@model FakturViewModel
@{
    var listBarang = Model.ListBarang.ToList();
}

<div class="row">
    <div class="col-md-4">
        @Html.Hidden("CUSTOMER_UPLOAD_FAKTUR_CUST")
        @Html.Hidden("CUSTOMER_UPLOAD_FAKTUR_NAMA")
        @Html.Hidden("CUSTOMER_UPLOAD_FAKTUR_PERSO")
        <select id="CUSTOMER_UPLOAD_FAKTUR" placeholder="Harap Pilih Akun" required="required"></select>
    </div>
    <div class="col-md-2">
        <label class="control-label">Upload Terakhir</label>
    </div>
    <div class="col-md-4">
        @Html.TextBox("CUSTOMER_UPLOAD_FAKTUR_LAST_UPLOAD", "", new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="col-md-2">
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-4 file_upload_section">
        <input type='file' id='file_upload_faktur' name="file_upload_faktur" onchange="checkfile(this);"
               accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" onclick="uploadfilefaktur();" data-style="expand-right">
            <span>Upload</span>
        </button>
    </div>
    <div class="col-md-4">
    </div>
</div>
<br />
<div id="scrollable_div">
    <div class="row">
        <label class="control-label">History Upload</label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="table_history_upload" class="table table-bordered" role="grid">
                <thead>
                    <tr>
                        <th width="100">Pengupload</th>
                        <th width="150">Tanggal Upload</th>
                        <th width="100">Akun</th>
                        <th width="100">Faktur Terakhir</th>
                        <th width="150">Tanggal Faktur</th>
                        <th width="45">History</th>
                    </tr>
                </thead>
                @*<tbody>
                    @{
                        var listBarang = Model.ListBarang.ToList();
                        var iPd = 0;
                    }
                    @foreach (var fakturDetail in Model.ListFakturDetail.Where(pb => pb.NO_BUKTI == Model?.Faktur?.NO_BUKTI).ToList())
                    {

                    }
                </tbody>*@
            </table>
        </div>
    </div>
</div>