@{
    ViewBag.Title = "Home Page";
}

@section styles
{
    <link href="~/Content/hover-min.css" rel="stylesheet" />

    <style>
        @@font-face {
            font-family: 'RoundedElegance';
            src: url("../../fonts/rounded_elegance.svg");
            src: url("../../fonts/rounded_elegance.ttf") format('truetype');
        }

        body {
            overflow-x: hidden;
        }

        html {
            -webkit-text-stroke-width: 0.5pt;
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            -moz-osx-font-smoothing: grayscale !important;
        }

        #cover {
            margin-bottom: 18px;
            background-size: cover;
            min-height: 350px;
        }

            h2.pc-title {
                color: #891539;
                font-size: 45px;
                line-height: 60px;
                letter-spacing: 3px;
                font-weight: 700;
            }

            h2.mobile-title {
                color: #891539;
                font-size: 30px;
                line-height: 58px;
                letter-spacing: 3px;
                font-weight: 700;
            }

            #cover h3 {
                font-size: 58px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: 'RoundedElegance';
            }

                #cover h3 span {
                    color: #ed5565;
                }

            #cover span {
                font-size: 53px;
            }

            #cover p {
                font-size: 18px;
                letter-spacing: .5px;
            }

            #cover .btn {
                background-color: #891539;
                color: #fff;
            }

                #cover .btn:hover {
                    background-color: #f37100;
                }

        .focus-text {
            text-transform: uppercase;
            color: #f37100;
        }

        #btn-daftar-pc {
            margin: 0 auto;
            border-radius: 10px !important;
            width: 20%;
            margin-top: 40px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #btn-daftar-mobile {
            border-radius: 10px !important;
            width: 100%;
            margin-top: 25px;
            box-shadow: 0px 7px 5px rgb(136, 136, 136);
        }

        #gradient-mo {
            background: rgba(255,23,23,1);
            background: -moz-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,23,23,1)), color-stop(50%, rgba(137,21,57,1)), color-stop(100%, rgba(137,21,57,1)));
            background: -webkit-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -o-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: -ms-linear-gradient(left, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            background: linear-gradient(to right, rgba(255,23,23,1) 0%, rgba(137,21,57,1) 50%, rgba(137,21,57,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1717', endColorstr='#891539', GradientType=1 );
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        .videoBox {
            margin-top: 40px;
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            width: 100%;
        }

            .videoBox iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        #marketplace .logo-container {
            padding: 40px 0;
        }

        .grayish-white {
            background-color: #faf9f9;
        }

        #marketplace .title-box-red,
        .carakerja .title-box-red {
            padding: 10px 7px;
        }

            #marketplace .title-box-red h3,
            .carakerja .title-box-red h3 {
                font-size: 20px;
                color: #fff;
                font-weight: 400;
                margin: 0px;
                text-align: left !important;
            }

        #marketplace .mp-logo:first-child {
            margin-left: 60px;
        }

        #marketplace .mp-logo {
            margin-right: 20px;
        }

        .titleSection {
            color: #ed5565;
            font-size: 35px;
            text-align: center;
            font-weight: 500;
        }

        .carakerja {
            padding: 0 0 40px 0;
            background-color: #fff;
        }

            .carakerja h3, .carakerja p {
                font-weight: 300;
                text-align: center;
            }

            .carakerja h3 {
                font-size: 22px;
            }

            .carakerja p {
                font-size: 17px;
                line-height: 24px;
                color: #777;
            }

            .carakerja strong {
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                display: block;
            }

            .carakerja img {
                margin-top: 25px;
            }

        #banner {
            background: url(../../Content/Images/shattered.png) 0 50%;
            min-height: 200px;
            padding: 20px 0;
            text-align: center;
        }

            #banner h2 {
                color: #999;
                font-size: 25px;
                font-weight: 400;
                margin: 30px 0 28px 0;
            }

        footer {
            background: #891539;
            padding: 30px 0;
        }

        .footerMenuCol {
            margin-bottom: 20px;
        }

        footer h3 {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0;
        }

        footer ul, footer ul li {
            list-style: none;
        }

            footer ul li {
                margin-left: -40px !important;
                padding: 7px 0 7px 10px;
                border-bottom: 1px solid #f9f9f9;
            }

                footer ul li a {
                    color: #f7f7f7;
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }

        .title-box-red {
            background: rgba(137,21,57,1);
            background: -moz-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,21,57,1)), color-stop(70%, rgba(137,21,57,1)), color-stop(100%, rgba(255,23,23,1)));
            background: -webkit-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -o-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: -ms-linear-gradient(left, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            background: linear-gradient(to right, rgba(137,21,57,1) 0%, rgba(137,21,57,1) 70%, rgba(255,23,23,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#891539', endColorstr='#ff1717', GradientType=1 );
        }

        .carakerja .content-feature {
            background-color: #f6f6f6;
            padding-bottom: 10px;
        }

        #promo_pulsa {
            display: none; /* Sementara */
            position: absolute;
            width: 20%;
            right: 15px;
            top: 175px;
            z-index: 100;
        }

        .no-padding {
            padding: 0 !important;
        }

        .sub-title-features {
            font-size: 18px;
            position: absolute;
            top: 20px;
            left: 0;
        }
    </style>
}

<a href="@Url.Action("Promo")">
    <img class="hvr-buzz" src="~/Content/Images/PromoPulsa.png" id="promo_pulsa" />
</a>

<!--Start Top Slogan-->
<div id="cover">
    <div class="container text-center">
        <img width="85%" src="~/Content/Images/header_image.png" />
    </div>
    <div class="container-fluid">
        <div class="col-md-12 text-center">
            <h2 class="hidden-md hidden-lg mobile-title" style="line-height: 40px;">SOLUSI CERDAS PEBISNIS ONLINE</h2>
            <h2 class="hidden-xs hidden-sm pc-title">SOLUSI CERDAS PEBISNIS ONLINE</h2>
            <p style="margin-top: 25px;">Cara <b class="focus-text">mudah</b> dan <b class="focus-text">cepat</b> kontrol bisnis Anda di berbagai marketplace</p>
            <p>Kontrol Bisnis Anda dari Satu Tempat</p>
            <p style="color: #5a5a5a;">1 FOR ALL AND ALL FOR 1</p>
            <a class="btn btn-lg hidden-xs hidden-sm" id="btn-daftar-pc" href="/register" role="button">DAFTAR (FREE)</a>
            <a class="btn btn-lg hidden-md hidden-lg" id="btn-daftar-mobile" href="/register" role="button">DAFTAR (FREE)</a>
        </div>
        <div class="col-md-12 col-xs-12 no-padding">
            <div class="videoBox">
                <iframe src="https://www.youtube.com/embed/1BUecLBDmlY?autoplay=0&amp;rel=0&amp;modestbranding=1&showinfo=0" frameborder="0" gesture="media" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
<!--End of Top Slogan-->
<!--Start Marketplaces-->
<div id="marketplace">
    <div class="container logo-container hidden-sm hidden-xs">
        <div class="mp-logo col-md-2">
            <img src="~/Content/Images/logo-bukalapak.png" alt="bukalapak" class="img-responsive">
        </div>
        <div class="mp-logo col-md-2">
            <img src="~/Content/Images/logo-lazada.png" alt="lazada" class="img-responsive">
        </div>
        <div class="mp-logo col-md-2">
            <img src="~/Content/Images/logo-blibli.png" alt="zalora" class="img-responsive">
        </div>
        <div class="mp-logo col-md-2">
            <img src="~/Content/Images/logo-elevania.png" alt="elevania" class="img-responsive">
        </div>
        <div class="mp-logo col-md-2">
            <img src="~/Content/Images/logo-shopee.png" alt="shopee" class="img-responsive">
        </div>
    </div>

    <div class="container hidden-md hidden-lg" style="padding: 10px 0; margin-bottom: 40px;">
        <div class="row">
            <div class="mp-logo col-xs-4 col-sm-4">
                <img src="~/Content/Images/logo-bukalapak.png" alt="bukalapak" class="img-responsive">
            </div>
            <div class="mp-logo col-xs-4 col-sm-4">
                <img src="~/Content/Images/logo-lazada.png" alt="lazada" class="img-responsive">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="mp-logo col-xs-4 col-sm-4">
                <img src="~/Content/Images/logo-elevania.png" alt="elevania" class="img-responsive">
            </div>
            <div class="mp-logo col-xs-4 col-sm-4">
            </div>
            <div class="mp-logo col-xs-4 col-sm-4">
                <img src="~/Content/Images/logo-shopee.png" alt="shopee" class="img-responsive">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="mp-logo col-xs-4 col-sm-4">
                <img src="~/Content/Images/logo-blibli.png" alt="zalora" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<!--End of Marketplaces-->
<!--Start Smart And Be Easy-->
<div class="container-fluid hidden-xs hidden-sm feature-pc" style="padding-bottom: 50px;">
    <div class="col-md-12 text-center">
        <h2 class="hidden-xs hidden-sm pc-title" style="line-height: 40px;">BE SMART AND EASY</h2>
        <p style="color: #5a5a5a; font-size: 18px; margin-bottom: 40px;">TO CONTROL YOUR BUSINESS IN MARKETPLACE</p>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="margin-left: 55px;">
            <div class="row">
                <div class="col-md-4">
                    <img width="85%" src="~/Content/Images/barang_terpusat_icon.png" />
                </div>
                <div class="col-md-8">
                    <p class="sub-title-features">Pengaturan Barang <br />Secara Terpusat</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <img width="85%" style="margin-top: 10px;" src="~/Content/Images/pack_ship_icon.png" />
                </div>
                <div class="col-md-8">
                    <p class="sub-title-features">Pick, Pack, <br /> and Ship</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="margin-left: 55px;">
            <div class="row">
                <div class="col-md-4">
                    <img width="85%" style="margin-top: 10px;" src="~/Content/Images/akunting_icon.png" />
                </div>
                <div class="col-md-8">
                    <p class="sub-title-features">Terintegrasi dengan <br />Akunting</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4">
                    <img width="85%" style="margin-top: 8px;" src="~/Content/Images/real_time_stock_icon.png" />
                </div>
                <div class="col-md-8">
                    <p class="sub-title-features">Update Stok Barang <br /> Secara Real Time</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="container-fluid hidden-lg hidden-md feature-mobile" style="padding-bottom: 10px;">
    <div class="col-md-12 text-center">
        <h2 class="mobile-title" style="line-height: 40px;">BE SMART AND EASY</h2>
        <p style="color: #5a5a5a; font-size: 18px; margin-bottom: 10px;">TO CONTROL YOUR BUSINESS IN MARKETPLACE</p>
    </div>
    <div style="padding: 30px">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <img width="85%" src="~/Content/Images/barang_terpusat_icon.png" />
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        <p class="sub-title-features">Pengaturan Barang <br />Secara Terpusat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <img width="85%" style="margin-top: 10px;" src="~/Content/Images/pack_ship_icon.png" />
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        <p class="sub-title-features">Pick, Pack, <br /> and Ship</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <img width="85%" style="margin-top: 10px;" src="~/Content/Images/akunting_icon.png" />
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        <p class="sub-title-features">Terintegrasi dengan <br />Akunting</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <img width="85%" style="margin-top: 8px;" src="~/Content/Images/real_time_stock_icon.png" />
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        <p class="sub-title-features">Update Stok Barang <br /> Secara Real Time</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!--End of Smart And Be Easy-->
<div class="container-fluid grayish-white" style="padding: 35px 0 35px 0;">
    <img width="85%" style="display: block; margin: 0 auto;" src="~/Content/Images/chart_mo.png"/>
</div>
<div class="container-fluid" style="padding: 20px 0 40px 0;">
    <div class="col-md-12 text-center">
        <h2 class="hidden-xs hidden-sm pc-title" style="line-height: 40px;">KONTROL DAN MONITOR</h2>
        <h2 class="hidden-md hidden-lg mobile-title" style="line-height: 40px;">KONTROL DAN MONITOR</h2>
        <p style="color: #5a5a5a; font-size: 18px; margin-bottom: 40px;">BISNIS ANDA DENGAN MODUL AKUNTING YANG TERINTEGRASI SECARA 'BUILT-IN'</p>
    </div>
    <div class="row" style="margin-top: 60px;">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
            <img width="100%" style="display: block; margin: 0 auto;" src="~/Content/Images/HP.png" />
            <div class="row" style="margin-top: 25px;">
                <div class="col-md-6">
                    <a href="#">
                        <img style="display: block; margin: 0 auto;" width="50%" src="~/Content/Images/app_store.png" />
                    </a>
                </div>
                <br class="hidden-md hidden-lg" />
                <div class="col-md-6">
                    <a href="#">
                        <img style="display: block; margin: 0 auto;" width="50%" src="~/Content/Images/play_store.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!--Start Footer-->
<footer>
    <div class="container">
        <div class="col-md-3 col-md-offset-1 col-xs-12 col-sm-12 text-center">
            <a href="http://www.masteronline.co.id">
                <img width="75%" style="display: block; margin: 0 auto;" src="~/Content/Images/MO_new_logo_bottom.png" alt="MasterOnline" class="img-responsive">
            </a><br /><br />
            <span style="color: #f7f7f7">
                PT Erasoft Teknologi Indonesia.<br />
                Jl. Alaydrus No. 37,<br />
                Jakarta Pusat, 10130<br />
                ------------------------
                csmasteronline@gmail.com<br />
                Tel: 021-634-9318
            </span>
            <br>
            <br>
            <div class="container text-center">
                <a href="https://www.facebook.com/csmasteronline">
                    <img src="~/Content/Images/facebook-white.jpg" alt="Facebook" width="24" height="24" />
                </a>
                <a href="https://www.instagram.com/csmasteronline" style="margin: 0 10px;">
                    <img src="~/Content/Images/Instagram.png" alt="Instagram" width="24" height="24" />
                </a>
                <a href="http://13.250.30.255/blog">
                    <img src="~/Content/Images/blog.png" alt="Blog" width="24" height="24" />
                </a>
            </div>
        </div>
        <br class="hidden-md hidden-lg"/>
        <div class="footerMenuCol col-md-2 col-sm-6 col-xs-6">
            <h3>Hubungi Kami</h3>
            <ul>
                <li><a href="mailto:csmasteronline@gmail.com">Email</a></li>
                <li><a href="https://www.facebook.com/csmasteronline">Facebook</a></li>
                <li><a href="https://www.instagram.com/csmasteronline">Instagram</a></li>
                @*add by nurul 13/8/2018 (tambah blog)*@
                <li><a href="http://13.250.30.255/blog">Blog</a></li>
                <li><a href="https://www.youtube.com/channel/UCFQSo4VeQKGhUgk7nuqowuQ">Youtube</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="footerMenuCol col-md-2 col-sm-6 col-xs-6">
                <h3>Dukungan</h3>
                <ul>
                    <li><a href="https://www.masteronline.co.id/panduan">Panduan Pemakaian</a></li>
                    <li><a href="https://www.masteronline.co.id/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="footerMenuCol col-md-2 col-sm-6 col-xs-6">
                <h3>Kebijakan</h3>
                <ul>
                    <li><a href="~/Content/Static/termsandconditions.html">Privasi</a></li>
                    <li><a href="~/Content/Static/termsandconditions.html#security">Keamanan</a></li>
                    <li><a href="~/Content/Static/termsandconditions.html#terms">Syarat dan Ketentuan</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--End of Footer-->