@using System.Globalization;
@using MasterOnline.Models
@using MasterOnline.ViewModels
@{
    MoDbContext context = new MoDbContext("");
    Layout = null;

    var listParent = context.FormMoses.Where(m => m.ParentId == 0).OrderBy(m => m.ScrId).ToList();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (listParent.Count > 0)
        {
            <ul>
                @foreach (var parent in listParent)
                {
                    <li class="parent-li" id="53">
                        <ul>
                            @parent.NamaForm
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
    @*//add by nurul 11/2/2022*@
    <script type="text/javascript" src="//laz-g-cdn.alicdn.com/sj/securesdk/0.0.3/securesdk_lzd_v1.js" id="J_secure_sdk_v2" data-appkey="106112"></script>
    @*//end add by nurul 11/2/2022*@
</body>
</html>
